<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.memverse.android.provider"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <provider
            android:name="com.memverse.android.provider.MemverseContentProvider"
            android:authorities="com.memverse.android.provider"
            android:enabled="true">
        </provider>
    </application>

</manifest>